[General]
conf.webserver=https://zoom.us
enableLog=true
fake.version=
httpProxyHost=
httpProxyPort=
httpsProxyHost=
httpsProxyPort=
logLevel=info
pacFilePath=http://wpad.my.company.com/wpad.dat
proxyType=pacfile
